@import './variables.scss';
@import './breakpoints.scss';

// Cross-browser support
@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

// Containers
@mixin flexCenterContainer($bg-color: transparent) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
}

// Buttons
@mixin dropdownBtn {
    .dropdownBtn {
        width: 99%;
        height: 2rem;
        margin: calc($base-margin / 10) 0;
        border-radius: 0%;
        background-color: map-get($colors, "lightest");
        font-family: 'Georama', sans-serif;
        letter-spacing: 1.5px;
        font-size: calc($base-font-size * 1.2);
        font-weight: 600;
        cursor: pointer;

        &:hover,
        &:active {
            background-color: map-get($colors, "primary");
        }
    }
}

@mixin mobileOnlyBtn {
    .mobileOnlyBtn {
        // Responsive Design Styles
        @include tablet {
            display: none;
        }
    }
}

@mixin categoryNavButton {
    .categoryNavButton {
        font-size: 18px;
        color: map-get($colors, "primary");
        font-family: 'Georama', sans-serif;
        font-weight: 800;
        cursor: pointer;
        position: relative;
        border: none;
        background: none;
        text-transform: uppercase;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: color;
      }
      
      .categoryNavButton:focus,
      .categoryNavButton:hover {
        color: map-get($colors, "primary-dark");
      }
      
      .categoryNavButton:focus:after,
      .categoryNavButton:hover:after {
        width: 100%;
        left: 0%;
      }
      
      .categoryNavButton:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: map-get($colors, "primary-dark");
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
      }
}

// Dropdowns
@mixin dropdownMenu {
    .dropdownMenu {
        .overlay {
            @include flexCenterContainer(map-get($colors, "transparent"));
            flex-direction: column;
            gap: calc($base-gap / 2);
            position: fixed;
            background-color: rgba(0, 0, 0, 0.8);
            color: map-get($colors, "white");
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            margin-top: calc($base-margin);
            font-size: calc($base-font-size * 1.5);
            text-align: center;
            -webkit-animation: fadein 0.5s ease-in;
            -moz-animation: fadein 0.5s ease-in;
            animation: fadein 0.5s ease-in;
            z-index: 99;

            .menuOptions {
                width: 100%;
            }

            @keyframes fadein {
                0% {
                    opacity: 0;
                }

                30% {
                    opacity: 1;
                }

                100% {
                    opacity: 1;
                }
            }

            // Responsive Design Styles
            @include tablet {
                position: absolute;
                justify-content: flex-start;
                width: 100%;
                height: 100%;
                top: inherit;
                left: inherit;
                left: calc($base-margin / 4);
                margin-top: 10rem;
                gap: calc($base-gap * 2);
                color: map-get($colors, "black");
                background-color: map-get($colors, "transparent");
            }
        }
    }
}