@import './variables.scss';
@import './breakpoints.scss';

// Cross-browser support
@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

// Containers
@mixin flexCenterContainer($bg-color: transparent) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
}

// Buttons
@mixin dropdownBtn {
    .dropdownBtn {
        width: 99%;
        height: 2rem;
        margin: calc($base-margin / 10) 0;
        border-radius: 0%;
        letter-spacing: 1.5px;
        font-weight: 600;
    }
}

@mixin mobileOnlyBtn {
    .mobileOnlyBtn {

        // Responsive Design Styles
        @include tablet {
            display: none;
        }
    }
}

// Dropdowns
@mixin dropdownMenu {
    .dropdownMenu {
        .overlay {
            @include flexCenterContainer(map-get($colors, "transparent"));
            flex-direction: column;
            gap: calc($base-gap);
            text-align: center;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            font-size: 24px;
            z-index: 99;

            .menuOptions {
                width: 100%;
            }
        }
    }
}