// theme colors
$colors: (
    "primary": #bec9ca,
    "primary-light": #e0e5e6,
    "primary-dark": #93a7a6,
    "lightest": #93a7a6,
    "gold": #ffd700,
    "blue": #0060df,
    "light-green": #5fbd5a,
    "gray": #cccccc,
    "white": #fff,
    "black": #000000,
    "transparent": #ffffff00,
);

// spacing
$base-padding: 2rem;
$base-margin: 2rem;
$base-gap: 0.5rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

//font 
$base-font-size: 1rem;