@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/breakpoints.scss';

.productList {
    @include flexCenterContainer(map-get($colors, "transparent"));
    max-width: 1920px;
    min-width: 100%;
    background-color: purple;

    .shownProducts {
        width: 100%;
        text-align: center;

        .products {
            @include flexCenterContainer(map-get($colors, "transparent"));
            flex-direction: column;
            gap: calc($base-gap * 5);

            // Responsive Design Styles
            @include tablet {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        .loadMoreBtn {
            font-size: calc($base-font-size);
            letter-spacing: 1px;
            margin: calc($base-margin) 0;
            padding: calc($base-padding / 2) calc($base-padding * 2);
            border-radius: 0;
        }
    }
}