@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/breakpoints.scss';

.filter {
    @include dropdownBtn;
    @include dropdownMenu;
    @include mobileOnlyBtn;


    .checkboxHolder {
        @include flexCenterContainer(map-get($colors, "transparent"));
        flex-direction: column;
        align-items: flex-start;
        gap: calc($base-gap);

        .checkbox {
            transform: scale(2.5);
            margin: calc($base-margin / 3) calc($base-margin / 2);
            font-size: calc($base-font-size * 3);
        }
    }


    @include tablet {
        height: 100%;
        padding-bottom: 7rem;
        background-color: red;
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 10;
    }
}

.slider {
    /* width: 50%; */
    width: 10rem;
    height: 25px;
    background-color: red;
}

.thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: yellow;
    border: 1px solid black;
    border-radius: 50%;
}

.track {
    background-color: blue;
    height: 10px;
    /* width: 1%; */
}