.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60rem;
    /* align-items: center; */
}

.slider {
    /* width: 50%; */
    height: 25px;
    background-color: red;
}

.thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: yellow;
    border: 1px solid black;
    border-radius: 50%;
}

.track {
    background-color: blue;
    height: 10px;
    /* width: 1%; */
}