@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/breakpoints.scss';

.categoryDescription {
    // @include flexCenterContainer(map-get($colors, "transparent"));
    // text-align: center;
    // width: 100%;


    
    @include tablet {
        background-color: red;
        position: -webkit-sticky;
        position: sticky;
        z-index: 10;
    }
}