@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/breakpoints.scss';

.overlay {
    @include flexCenterContainer(map-get($colors, "transparent"));
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: calc($base-font-size);
    -webkit-animation: fadein 1s ease-in alternate infinite;
    -moz-animation: fadein 1s ease-in alternate infinite;
    animation: fadein 1s ease-in alternate infinite;
    z-index: 100;

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        30% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }
}

.alert {
    @include flexCenterContainer(map-get($colors, "transparent"));
    flex-direction: column;
    color: #104373;
    width: 80%;
    background-color: whitesmoke;
    padding: calc($base-padding / 2);
    border: #104373 solid 6px;
    border-radius: 8px;
    cursor: default;

    i {
        font-size: calc($base-font-size * 2);
        margin-bottom: calc($base-margin);
    }

            // Responsive Design Styles
            @include tablet {
                max-width: 30%;
            }
}