@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/breakpoints.scss';

// Putting the alert on the whole screen in front of everything else
.overlay {
    @include flexCenterContainer(map-get($colors, "transparent"));
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: calc($base-font-size);
    -webkit-animation: fadein 1s ease-in alternate infinite;
    -moz-animation: fadein 1s ease-in alternate infinite;
    animation: fadein 1s ease-in alternate infinite;
    z-index: 100;

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        30% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }
}

// The massage
.alert {
    @include flexCenterContainer(map-get($colors, "white"));
    flex-direction: column;
    color: map-get($colors, "blue");
    width: 80%;
    padding: calc($base-padding / 2);
    border: map-get($colors, "blue") solid calc($base-border-thickness * 6);
    border-radius: calc($base-border-radius / 3);
    cursor: default;

    i {
        font-size: calc($base-font-size * 2);
        margin-bottom: calc($base-margin);
    }

            // Responsive Design Styles
            @include tablet {
                max-width: 30%;
            }
}