@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.header {
    @include flexCenterContainer(map-get($colors, "white"));
    @include categoryNavButton;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    left: 0;
    height: 7rem;
    width: 100%;
    font-size: calc($base-font-size * 2);
    color: map-get($colors, "white");
    z-index: 10;

    .centered {
        @include flexCenterContainer(map-get($colors, "transparent"));
        flex-direction: column;
        width: auto;
        padding-top: calc($base-padding);

        // Responsive Design Styles
        @include tablet {
            padding-top: 0;
        }
    }

    .title {
        font-size: calc($base-font-size * 2.6);
        font-weight: bolder;
        letter-spacing: -5px;
        -webkit-text-stroke: 1px map-get($colors, "primary-dark");
        text-shadow: -1px 1px 2px map-get($colors, "primary-dark"),
            1px 1px 2px map-get($colors, "primary-dark"),
            1px -1px 0 map-get($colors, "primary-dark"),
            -1px -1px 0 map-get($colors, "primary-dark");

        @include tablet {
            font-size: calc($base-font-size * 3);
            letter-spacing: -6px;
        }
    }

    .nav {
        @include flexCenterContainer(map-get($colors, "transparent"));
    }

    .navList {
        @include flexCenterContainer(map-get($colors, "transparent"));
        gap: calc($base-gap * 2);
    }
}