@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/breakpoints.scss';

.sortProducts {
    @include dropdownBtn;
    @include dropdownMenu;
    @include mobileOnlyBtn;

    @include tablet {
        background-color: red;
        position: -webkit-sticky;
        position: sticky;
        z-index: 10;
    }
}